<html{
	font-family: Helvetica
}

h1{
font-size:100px;
text-align: center; 
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
color: khaki ;
font-weight: bold;
}


#brushes{
	background-color: mediumspringgreen;
	color: white;
	font-size: 32px;
	font-weight: bold;
}

h3{
	font-weight: bold;
}

.price{
	color: blue;
	font-weight: bold;
}

#frames{
	background-color: lightcoral;
	color: white;
	font-size:32px;
	font-weight: bold;
}

#paint{
	background-color: skyblue;
	color: white;
	font-size:32px;
	font-weight: bold;
}
